{% extends 'base.html' %}<!DOCTYPE html>
{% load humanize %}
{% block title %}{{ article.subject }}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">{{ article.subject }}</li>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% if "https:" not in article.photo %}
            <img class="card-img-top" src="{{ article.photo.url }}">
        {% else %}
            <img class="card-img-top" src="{{ article.photo }}">
        {% endif %}
        <div class="card p-3 bg-transparent w-100">
            <div class="card-title h4">
                {{ article.subject }}
            </div>
            <div class="card-body p-3">
                    {{ article.get_message_as_markdown }}
            </div>
        </div>
    </div>
{% endblock %}
