{% extends 'base.html' %}<!DOCTYPE html>
{% load humanize %}

{% block title %}{{ article.subject }}{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">{{ article.subject }}</li>
    </div>
{% endblock %}

{% block contentheader %}
    <div class="col-sm-12 top-buffer">
        <div class="card-header top-buffer text-center border-bottom-0">
            <h4 class="font-weight-bold text-uppercase">
                {{ article.category }}
            </h4>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-12 top-buffer">
        {% if "https:" not in article.photo %}
            <img class="card-img-top border-dark" src="{{ article.photo.url }}">
        {% else %}
            <img class="card-img-top border border-dark" src="{{ article.photo.path }}">
        {% endif %}
        <div class="card p-3 w-100 border-dark rounded-0">
            <div class="card-title h4">
                {{ article.subject }}
            </div>
            <div class="card-body p-3 article-text">
                {{ article.get_message_as_markdown }}
            </div>
        </div>
    </div>
{% endblock %}
