{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block featured %}
    <div class="card text-center">
        <div class="card-header">
            Featured
            <div class="card-body">
                <img class="card-img" src="{{ last_article.photo }}">
                <h5 class="card-title">{{ last_article.subject }}</h5>
                <p class="card-text">
                    {{ article }}
                </p>
                {% if last_article %}
                    <a href="{% url 'article_page' last_article.pk %}" class="btn btn-primary">Read Article</a>
                    {% if last_article.creator == request.user %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#exampleModal">
                            Delete this article
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                        <a href="{% url 'delete_success' last_article.pk %}" type="button"
                                           class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-footer text-muted">{{ last_article.created_at|naturaltime }}
                by {{ last_article.creator }}</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for article in articles %}
        <div class="col-sm-8">
            <div class="card px-2 py-2 top-buffer">
                <img class="card-img-top" src="{{ article.photo }}">
                <h5 class="card-title">{{ article.subject }}</h5>
                <p class="card-text">{{ article }}</p>
                <a href="{% url 'article_page' article.pk %}" class="btn btn-dark py-2 px-5 top-buffer">Read More</a>
                {% if article.creator == request.user %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#exampleModal">
                        Delete this article
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog"
                         aria-labelledby="deleteArticleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="Delete Article" id="deleteArticleModal">Delete confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <a href="{% url 'delete_success' article.pk %}"
                                       type="button"
                                       class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="card-footer text-muted">
                    {{ article.created_at|naturaltime }} by {{ article.creator }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}