{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block featured %}
    <div class="card-header text-center border-0">
        <h4 class="font-weight-bold">
            FEATURED
        </h4>
    </div>
    <div class="card text-center top-buffer">
        <div class="card-body">
            {% if "picsum" not in last_article.photo %}
                <img class="card-img-top border-dark" src="{{ last_article.photo.url }}">
            {% else %}
                <img class="card-img-top border border-dark" src="{{ last_article.photo }}">
            {% endif %}
            <div class="card-title h4 top-buffer">{{ last_article.subject }}</div>
            <p class="card-text">
                {{ Last_article }}
            </p>
            {% if last_article %}
                <a href="{% url 'article_page' last_article.pk %}"
                   class="btn btn-dark">Read Article
                </a>
                {% if last_article.creator == request.user %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#deleteLastArticleModal">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteLastArticleModal" tabindex="-1" role="dialog"
                         aria-labelledby="deleteLastArticleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteLastArticleModalLabel">Delete
                                        confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <a href="{% url 'delete_success' last_article.pk %}" type="button"
                                       class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="card-footer text-muted h6">{{ last_article.created_at|naturaltime }}
            by {{ last_article.creator }}</div>

    </div>
{% endblock %}

{% block content %}
    <nav class="col-sm-12">
        <div class="card-header top-buffer text-center border-bottom-0">
            <h4 class="font-weight-bold">LAST ARTICLES</h4>
        </div>
        <div class="nav nav-tabs top-buffer bot-debuffer-sm" id="nav-tab" role="tablist">
            {% for tab in publications %}
                {% if tab == publications.first %}
                    <a class="nav-item nav-link active" id="nav-{{ tab }}-tab" data-toggle="tab"
                       href="#nav-{{ tab }}"
                       role="tab"
                       aria-controls="nav-{{ tab }}" aria-selected="true">{{ tab }}</a>
                {% else %}
                    <a class="nav-item nav-link" id="nav-{{ tab }}-tab" data-toggle="tab" href="#nav-{{ tab }}"
                       role="tab"
                       aria-controls="nav-{{ tab }}" aria-selected="true">{{ tab }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content">
    {% for tab in publications %}
        {% if tab == publications.first %}
            <div class="tab-pane fade show active" id="nav-{{ tab }}" role="tabpanel"
                 aria-labelledby="nav-{{ tab }}-tab">
        {% else %}
            <div class="tab-pane fade show" id="nav-{{ tab }}" role="tabpanel"
                 aria-labelledby="nav-{{ tab }}-tab">
        {% endif %}
    {% for article in tab.get_last3_articles %}
        <div class="col-sm-12 top-buffer-sm">
            <div class="card border-top-0 px-2 py-2">
                {% if "picsum" not in article.photo %}
                    <img class="card-img-top border-dark" src="{{ article.photo.url }}">
                {% else %}
                    <img class="card-img-top border border-dark" src="{{ article.photo }}">
                {% endif %}
                <h5 class="card-title top-buffer">{{ article.subject }}</h5>
                <p class="card-text">{{ article }}</p>
                <a href="{% url 'article_page' article.pk %}" class="btn btn-dark py-2 px-5 top-buffer">Read
                    More</a>
                {% if article.creator == request.user %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger top-buffer-sm" data-toggle="modal"
                            data-target="#deleteArticleModal{{ article.pk }}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteArticleModal{{ article.pk }}" tabindex="-1"
                         role="dialog"
                         aria-labelledby="deleteArticleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="Delete Article" id="deleteArticleModal{{ article.pk }}">
                                        Delete
                                        confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                    <a href="{% url 'delete_success' article.pk %}"
                                       type="button"
                                       class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="card-footer text-muted">
                    {{ article.created_at|naturaltime }} by {{ article.creator }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}