{% extends 'base.html' %}<!DOCTYPE html>
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/simplemde.min.js' %}"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-outline-success btn-block">Save</button>
		<a href="{% url 'home'%}" class="btn btn-outline-secondary btn-block" role="button">Cancel</a>
    </form>

{% endblock %}